<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <title>Think Museum</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="files/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="files/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="files/img/favicon-16x16.png">
        <link rel="manifest" href="files/img/site.webmanifest">
        <meta name="msapplication-TileColor" content="#dd2700">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="files/css/style.css">
    </head>
    <body>
        <div class="site-header">
            <div class="wrapper">
                <div class="site-header__inner">
                    <a href="/"><img class="site-header__logo" src="files/img/logo.svg" alt="Think Museum"></a>
                    <nav class="site-header__nav">
                        {{ nav:main }}
                        <a class="site-header__link {{ if is_current || is_parent }} site-header__link--active {{ /if }}" href="{{url}}">{{ title }}</a>
                        {{ /nav:main }}
                    </nav>
                </div>
            </div>
        </div>
        {{ template_content }}
    </body>
</html>