.bg-white {
  background: #fff;
}

.bg-primary {
  background: #dd2700;
}

.bg-dark {
  background: #1e1f21;
}

.bg-dark-tint {
  background: #2c2d2f;
}

.color-white {
  color: #fff;
}

.color-primary {
  color: #dd2700;
}

.color-dark {
  color: #1e1f21;
}

.color-dark-tint {
  color: #2c2d2f;
}

.flow-space-100 {
  --flow-space: 0.63rem;
}

.flow-space-200 {
  --flow-space: 0.8400000000000001rem;
}

.flow-space-300 {
  --flow-space: 1.125rem;
}

.flow-space-400 {
  --flow-space: 1.5rem;
}

.flow-space-500 {
  --flow-space: 1.995rem;
}

.flow-space-600 {
  --flow-space: 2.6550000000000002rem;
}

.flow-space-700 {
  --flow-space: 3.54rem;
}

.flow-space-800 {
  --flow-space: 4.725rem;
}

.flow-space-900 {
  --flow-space: 6.300000000000001rem;
}

.flow-space-1000 {
  --flow-space: 8.399999999999999rem;
}

.z-default {
  z-index: 0;
}

.z-overlay {
  z-index: 1;
}

.font-base {
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

.font-heading {
  font-family: "Berthold City", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

.font-mono {
  font-family: "Pica", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;
}

.shadow-base {
  box-shadow: 0 0.3px 0.2px rgba(0, 0, 0, 0.025),
    0 0.8px 0.5px rgba(0, 0, 0, 0.03), 0 1.5px 0.9px rgba(0, 0, 0, 0.033),
    0 2.7px 1.6px rgba(0, 0, 0, 0.036), 0 5px 2.9px rgba(0, 0, 0, 0.039),
    0 12px 7px rgba(0, 0, 0, 0.05);
}

.shadow-heavy {
  box-shadow: 0 0.7px 0.3px rgba(0, 0, 0, 0.025),
    0 1.7px 0.7px rgba(0, 0, 0, 0.03), 0 3.1px 1.4px rgba(0, 0, 0, 0.033),
    0 5.6px 2.5px rgba(0, 0, 0, 0.036), 0 10.4px 4.6px rgba(0, 0, 0, 0.039),
    0 25px 11px rgba(0, 0, 0, 0.05);
}

.radius-normal {
  border-radius: 5px;
}

.radius-large {
  border-radius: 10px;
}

.gap-top-100 {
  margin-top: 0.63rem;
}

.gap-top-200 {
  margin-top: 0.8400000000000001rem;
}

.gap-top-300 {
  margin-top: 1.125rem;
}

.gap-top-400 {
  margin-top: 1.5rem;
}

.gap-top-500 {
  margin-top: 1.995rem;
}

.gap-top-600 {
  margin-top: 2.6550000000000002rem;
}

.gap-top-700 {
  margin-top: 3.54rem;
}

.gap-top-800 {
  margin-top: 4.725rem;
}

.gap-top-900 {
  margin-top: 6.300000000000001rem;
}

.gap-top-1000 {
  margin-top: 8.399999999999999rem;
}

.gap-bottom-100 {
  margin-bottom: 0.63rem;
}

.gap-bottom-200 {
  margin-bottom: 0.8400000000000001rem;
}

.gap-bottom-300 {
  margin-bottom: 1.125rem;
}

.gap-bottom-400 {
  margin-bottom: 1.5rem;
}

.gap-bottom-500 {
  margin-bottom: 1.995rem;
}

.gap-bottom-600 {
  margin-bottom: 2.6550000000000002rem;
}

.gap-bottom-700 {
  margin-bottom: 3.54rem;
}

.gap-bottom-800 {
  margin-bottom: 4.725rem;
}

.gap-bottom-900 {
  margin-bottom: 6.300000000000001rem;
}

.gap-bottom-1000 {
  margin-bottom: 8.399999999999999rem;
}

.border-top-shade {
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.border-top-shade-dashed {
  border-top: 3px dashed rgba(0, 0, 0, 0.1);
}

.leading-flat {
  line-height: 1.1;
}

.leading-mid {
  line-height: 1.5;
}

.leading-loose {
  line-height: 1.7;
}

.measure-long {
  max-width: 80ch;
}

.measure-short {
  max-width: 50ch;
}

.measure-compact {
  max-width: 30ch;
}

.text-100 {
  font-size: 0.63rem;
}

.text-200 {
  font-size: 0.8400000000000001rem;
}

.text-300 {
  font-size: 1.125rem;
}

.text-400 {
  font-size: 1.5rem;
}

.text-500 {
  font-size: 1.995rem;
}

.text-600 {
  font-size: 2.6550000000000002rem;
}

.text-700 {
  font-size: 3.54rem;
}

.text-800 {
  font-size: 4.725rem;
}

.text-900 {
  font-size: 6.300000000000001rem;
}

.text-1000 {
  font-size: 8.399999999999999rem;
}

.weight-normal {
  font-weight: 400;
}

.weight-bold {
  font-weight: 700;
}

@media (min-width: 32em) {
  .sm\:text-100 {
    font-size: 0.63rem;
  }

  .sm\:text-200 {
    font-size: 0.8400000000000001rem;
  }

  .sm\:text-300 {
    font-size: 1.125rem;
  }

  .sm\:text-400 {
    font-size: 1.5rem;
  }

  .sm\:text-500 {
    font-size: 1.995rem;
  }

  .sm\:text-600 {
    font-size: 2.6550000000000002rem;
  }

  .sm\:text-700 {
    font-size: 3.54rem;
  }

  .sm\:text-800 {
    font-size: 4.725rem;
  }

  .sm\:text-900 {
    font-size: 6.300000000000001rem;
  }

  .sm\:text-1000 {
    font-size: 8.399999999999999rem;
  }
}

@media (min-width: 48em) {
  .md\:text-100 {
    font-size: 0.63rem;
  }

  .md\:text-200 {
    font-size: 0.8400000000000001rem;
  }

  .md\:text-300 {
    font-size: 1.125rem;
  }

  .md\:text-400 {
    font-size: 1.5rem;
  }

  .md\:text-500 {
    font-size: 1.995rem;
  }

  .md\:text-600 {
    font-size: 2.6550000000000002rem;
  }

  .md\:text-700 {
    font-size: 3.54rem;
  }

  .md\:text-800 {
    font-size: 4.725rem;
  }

  .md\:text-900 {
    font-size: 6.300000000000001rem;
  }

  .md\:text-1000 {
    font-size: 8.399999999999999rem;
  }
}

@media (min-width: 68em) {
  .lg\:text-100 {
    font-size: 0.63rem;
  }

  .lg\:text-200 {
    font-size: 0.8400000000000001rem;
  }

  .lg\:text-300 {
    font-size: 1.125rem;
  }

  .lg\:text-400 {
    font-size: 1.5rem;
  }

  .lg\:text-500 {
    font-size: 1.995rem;
  }

  .lg\:text-600 {
    font-size: 2.6550000000000002rem;
  }

  .lg\:text-700 {
    font-size: 3.54rem;
  }

  .lg\:text-800 {
    font-size: 4.725rem;
  }

  .lg\:text-900 {
    font-size: 6.300000000000001rem;
  }

  .lg\:text-1000 {
    font-size: 8.399999999999999rem;
  }
}
